* {
    font-family: "Monaco", "Lucida Console", "Courier New", sans-serif;
}

h1 {
    font-weight: bold;
    color: darkgoldenrod;
    background-color: beige;
    font-size: 35px;
}

a {
    font-style:oblique;
    font-size: 15px;
    background-color: white;
}